<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="src/css/index.css"> -->
    <!-- <title>
        <%= htmlWebpackPlugin.options.title%>
    </title> -->
</head>

<body>
    <!-- <img src="../images/snakehead.png" alt=""> -->
    <img src="<%= require('../images/redapple.png') %>" alt="">
    <button id="theButton">Click Me</button>
    <div id="result"></div>

    <!-- <h5>&copy Copyright PCS
        <%= htmlWebpackPlugin.options.year %>
    </h5> -->
    <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="dist/main.bundle.js"></script>
    <script src="dist/another.bundle.js"></script> -->

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</body>

</html>